

<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ICA</title>
    <link rel="icon" type="image/png" href="~/desighn/logo-modified-min.png" sizes="60x60">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ICA.styles.css" asp-append-version="true" />
	<link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/aos.css">
    <!--for summernote-->
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   
	<link href="~/lib/summernote/summernote.css" rel="stylesheet" />
	<script src="~/lib/summernote/summernote.js"></script>
	<link href="~/lib/summernote/summernote-lite.css" rel="stylesheet" />
	<script src="~/lib/summernote/summernote-lite.js"></script>
	<script src="~/lib/summernote/lang/summernote-ar-ar.js"></script>

    <style>
        .navbar-brand {
            font-weight: 700;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 1;
        }

        .navbar-brand {
            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
        }
        .logo-container {
            display: flex;
            align-items: center;
        }

        .text-container {
            display: flex;
            flex-direction: column;
            margin-left: 10px; /* adjust the margin as needed */
        }

        .first-sentence {
            margin: 0;
        }

        .second-sentence {
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @{
                    string urlcontroller = string.Empty;
                    string urlaction = string.Empty;
                    if (User.IsInRole("Driver"))
                    {
                        urlcontroller = "Driver";
                        urlaction = "index";
                    }
                else
                {
                        urlcontroller = "User";
                        urlaction = "Account";
                }
                }
                <a class="navbar-brand" asp-area="" asp-controller="@urlcontroller" asp-action="@urlaction">
                    <div class="logo-container">
                        <img src="~/desighn/logo-modified-min.png" width="70" height="70" />
                        <div class="text-container m-2">
                            الجمعية الخيرية الإسلامية
                            <small class="second-sentence mr-3" style="font-size:40%;font-family: 'Didot', serif;letter-spacing: 1px;">Islamic Charity Association</small>

                        </div>
                        </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                      @*  @if (User.IsInRole("IT"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">User Control</a>
                            </li>
                        }
                        @if (User.IsInRole("IT") || User.IsInRole("Media"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="articles" asp-action="Index">Articles</a>
                            </li>
                        }*@
                    </ul>
                    <partial name="_LoginPartial" />
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" dir="rtl" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Islamic Charity Association @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script>
        window.onload = function functionName() {

            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl)
            })

        }
    </script>
         <script>
      $('#summernote').summernote({
        placeholder: 'إبدأ بكتابة المحتوى العربي للمقال ',
        tabsize: 2,
        height: 180,
        toolbar: [
          ['style', ['style']],
                ['font', ['bold', 'italic', 'underline']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          //['insert', ['link', 'picture', 'video']],
                ['insert', ['link', 'picture', 'video']],
          ['view', ['help']]
        ]
      });
    </script>    <script>
      $('#summernote2').summernote({
            placeholder: 'إبدأ بكتابة المحتوى الإنجليزي للمقال ',
        tabsize: 2,
        height: 180,
        toolbar: [
          ['style', ['style']],
                ['font', ['bold', 'italic', 'underline']],
                //['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
               ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
          ['view', ['help']]
        ]
      });
    </script>  
   @* <script>
        $('#summernote').summernote({
            placeholder: 'Hello Bootstrap 5',
            tabsize: 2,
            height: 100
        });
    </script>
    <script>
        $('#summernote2').summernote({
            placeholder: 'Hello Bootstrap 5',
            tabsize: 2,
            height: 100
        });
    </script>*@
    <script>
        $(".summernote").summernote({
            toolbar: [.....],
            lang: "ar-AR"
        });
    </script>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/js/aos.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        AOS.init();
    </script>
</body>
</html>
