
@using System.Globalization;

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer



@{
    ViewData["Title"] = localizer["About us"];
    ViewData["meta"] = localizer["Who we are,how did we start and what are our goals"];
    Layout = "_MainLayout";

}
@{
    string direction = "";
    if (CultureInfo.CurrentCulture.Name.StartsWith("ar")) { direction = "rtl"; }
    else { direction = "ltr"; }
}
<div class="hero-wrap" style="background-image: url('/images/mainbg.png'); background-position: 50% 225px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center fadeInUp ftco-animated" data-scrollax=" properties: { translateY: '70%' }" style="transform: translateZ(0px) translateY(50%);">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="opacity: 0; transform: translateZ(0px) translateY(21.4286%);"><span class="mr-2"><a asp-action="action">Home</a></span> <span>About</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="opacity: 0; transform: translateZ(0px) translateY(21.4286%);">About Us</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex" dir="@direction">
            <div class="col-md-6 d-flex ftco-animate fadeInUp ftco-animated">
                <div class="img img-about align-self-stretch" style="background-image: url(/Desighn/logo-bigger.png); width: 100%;background-size: contain;"></div>
            </div>
            <div class="col-md-6 pl-md-5 ftco-animate fadeInUp ftco-animated">
                <h2 class="mb-4">@localizer["Welcome to Islamic Charity Association Stablished Since 1921"]</h2>
                <p >@localizer["The main achievements of Islamic Charity Association was the establishment of exemplary charity schools (elementary, preparatory, and secondary education), in addition to an orphanage and the Zenobia hall for conferences and celebrations. Lastly but not least, the 'Aoun Relief and Development Project' was launched, as a result of changes that occurred in the social structure of the city of Homs. The project aims to meet the needs of displaced persons and affected families, providing them with dignified accommodation until they can safely return to their homes and neighborhoods with the permission of the Almighty."]</p>
                <p >@localizer["The vision of Aoun Relief and Development"]<br> @localizer["is to be a leading national institution that supports the national economy and plays a tangible and effective role in the development and advancement of society. The institution aims to achieve solidarity and cooperation among its members, while contributing to the overall growth and progress of the community."]</p>
                <p >@localizer["The message of Aoun Relief and Development"] <br>@localizer["is to strive towards a compassionate society where individuals support each other. We are committed to delivering humanitarian aid to those in need, regardless of their political, religious, or sectarian affiliations."] </p>
                <p >
                    @localizer["The policy of Aoun Relief and Development includes the following"]
                    <br>
                    @localizer["Providing material and moral support to affected families.Developing the skills and performance of displaced individuals by providing vocational training and assisting them in finding employment opportunities.Raising awareness and providing psychological and educational support that contributes to improving the behavior of individuals in the community.Implementing projects that contribute to the development of the community, create new job opportunities, and promote its growth."]
                </p>
                <p></p>
            </div>
        </div>
    </div>
</section>

