@using Microsoft.AspNetCore.Html;
@using System.Globalization;

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@model ICA.Models.Article

@{
    ViewData["Title"] = Model.TitleArabic;
    ViewData["meta"] = ViewBag.description;
    Layout = "_MainLayout";
    ViewData["Url"] = Context.Request.GetDisplayUrl();
    ViewData["Image"] = "https://icangoh.org/PorfilesPictures/"+@Model.ProfilePicture;
    ViewData["type"] = "article";
}
  

<link href="~/desighn/articledesighn.css" rel="stylesheet" />
@{
    string direction = "";
    if (CultureInfo.CurrentCulture.Name.StartsWith("ar")) { direction = "rtl"; }
    else { direction = "ltr"; }
}

<div class="ColoredNav alert alert-dark" role="alert">
    <br>
    <br><br>
   
</div>
<hr>

@if (@ViewBag.Notfound == null)
{
    <div class="container">
        <div dir="rtl" class="MyContainer row ">
            <div class="col-12 ">
                @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                {
                    <h1 class="text-center" style="color:#004ea2;font-family: Noto Kufi Arabic, Roboto Condensed;font-size: 18px;font-weight: 800;line-height: 28.8px;padding:20px;margin:10px"> @Model.TitleArabic</h1>

                }
                else
                {
                    <h1 class="text-center" style="color:#004ea2;font-family: Noto Kufi Arabic, Roboto Condensed;font-size: 18px;font-weight: 800;line-height: 28.8px"> @Model.TitleEnglish</h1>

                }
            </div>
            <div class="col-12  text-center ">
                <img src="~/PorfilesPictures/@Model.ProfilePicture" class="mx-auto d-block img-fluid" alt="@Model.TitleArabic" />
                <hr>
            </div>
            <div class="col-12" dir="@direction">
                <small style=" font-family:Noto Kufi Arabic, Roboto Condensed;" >@localizer["Media Center"] | @Model.DatePuplished</small>
            </div>

            <div class="col-12">
                <div dir="@direction">
                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                    {
                        @(new HtmlString(@Model.ContentArabic))
                    }
                    else
                    {
                        @(new HtmlString(@Model.ContentEnglish))
                    }



                </div>
            </div>



        </div>
    </div>
    <section class="ftco-gallery ">
        @{
            <div class="container">
                <div class="row">
                    @foreach (var x in Model.Album.Images.ToList())
                    {


                        <a href="/PorfilesPictures/@x.ImageUrl" class="col-md-3 gallery image-popup  justify-content-center align-items-center img ftco-animate" style="background-image: url(/PorfilesPictures/@x.ImageUrl);">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="icon-search"></span>
                            </div>
                        </a>
                    }



                </div>
            </div>
        }
    </section>
}
else
{
   
    if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
    {
        <div dir="rtl" class="alert alert-danger" role="alert">
            <h4 class="alert-heading">خطأ 404: لا يمكن العثور على المورد المطلوب</h4>
            <p>قد تمت إزالة الصفحة التي تبحث عنها أو تغيير اسمها، أو ربما تكون غير متاحة مؤقتًا. يرجى المحاولة مرة أخرى باستخدام الإرشادات التالية:</p>
            <ul>
                <li>تحقق مرة أخرى من العنوان الصحيح للصفحة.</li>
                <li>العودة إلى الصفحة السابقة والمحاولة مرة أخرى.</li>
                <li>الاتصال بمسؤول الموقع للحصول على المساعدة.</li>
            </ul>
            <hr>
            <p class="mb-0">رمز الخطأ: 404</p>
        </div>
    }
    else
    {
         <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error 404: The requested resource could not be found</h4>
            <p>The page you are looking for may have been removed or its name changed, or it may be temporarily unavailable. Please try the following:</p>
            <ul>
                <li>Double-check the URL for errors.</li>
                <li>Go back to the previous page and try again.</li>
                <li>Contact the site administrator for assistance.</li>
            </ul>
            <hr>
            <p class="mb-0">Error code: 404</p>
        </div>
        
    }

}
<br>
<br>