@model IEnumerable<ICA.Models.Article>

@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;

@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Events"];
    ViewData["meta"] = localizer["our last events"];
    Layout = "_MainLayout";
}
<style>
    .active 
       {
        box-shadow: 0 5px #666; /* Shadow */
    }
</style>
@{
    string direction = "";
    if (CultureInfo.CurrentCulture.Name.StartsWith("ar")) { direction = "rtl"; }
    else { direction = "ltr"; }
}
<div class="hero-wrap" style="background-image: url('/images/mainbg.png'); background-position: 50% 225px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center fadeInUp ftco-animated" data-scrollax=" properties: { translateY: '70%' }" style="transform: translateZ(0px) translateY(50%);">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="opacity: 0; transform: translateZ(0px) translateY(21.4286%);"><span class="mr-2"><a asp-action="Index">Home</a></span> <span>Events</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="opacity: 0; transform: translateZ(0px) translateY(21.4286%);">Last Events</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section ">
    <div class="container blog-border">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-7 heading-section  text-center">
                <h2 class="mb-4">@localizer["Our Latest Events"]</h2>
            </div>
        </div>
        <div class="row" style="background-color:#fafafa;padding:20px;border:2px ;border-radius:20px;">
            @{
                foreach (var x in Model)
                {
                    <div class="col-md-4 d-flex">
                        <div class="blog-entry align-self-stretch">
                            <a class="block-20" asp-controller="Home" asp-action="article" asp-route-id="@x.Id" style="background-image: url('/PorfilesPictures/@string.Concat("Resized",x.ProfilePicture)');">
                            </a>
                            <div class="text p-4 d-block">
                                <h2 dir="@direction" class="mb-4" style="font-size:200%">
                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                    {
                                        <a asp-controller="Home" asp-action="article" asp-route-id="@x.Id" style="color:#004ea2;" class="ArticleTilte">@x.TitleArabic</a>

                                    }
                                    else
                                    {
                                        <a asp-controller="Home" asp-action="article" asp-route-id="@x.Id" style="color:#004ea2;" class="ArticleTilte">@x.TitleEnglish</a>

                                    }
                                </h2>
                                <hr>
                                <h6 dir="@direction">@localizer["Media Center"]</h6>
                                <p dir="@direction" class="time-loc"><span class="mr-2" dir="ltr"><i class="icon-clock-o"></i>@x.DatePuplished.ToString("ddd.MMM.yyy") </span><br><span><i class="icon-map-o"></i> @x.Assosiation.FullName</span> </p>

                                <h6 dir="@direction" class="time-loc"><span class="mr-2" dir="ltr" style="visibility: hidden"><i class="icon-clock-o"></i>@x.DatePuplished.ToString("ddd.MMM.yyy") </span> <span style="visibility: hidden"><i class="icon-map-o"></i> Venue Main Campus</span></h6>
                            </div>
                        </div>
                    </div>
                }
               
                <div class="col-12 d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="@((ViewBag.CurrentPage == 1) ? "disabled" : "")">
                                <a onclick="if(@ViewBag.CurrentPage == 1) event.preventDefault();" class="btn btn-primary" href="@Url.Action("Events", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li  class="@((i == ViewBag.CurrentPage) ? "active" : "")">
                                    <a class="btn btn-primary" href="@Url.Action("Events", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
                                </li>
                            }

                            <li class="@((ViewBag.CurrentPage == ViewBag.TotalPages) ? "disabled" : "")">
                                <a onclick="if(@ViewBag.CurrentPage == @ViewBag.TotalPages) event.preventDefault();" class="btn btn-primary" href="@Url.Action("Events", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>


                </div>
            }
           

        </div>
    </div>
</section>
