@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Hr"];
    ViewData["meta"] = localizer["Join Islamic Charity Association and make a difference in the lives of those in need. Support our vision for a compassionate society and contribute to community growth and progress through our relief and development projects. Explore job opportunities and apply now."];
    Layout = "_MainLayout";
    ViewData["Url"] = Context.Request.GetDisplayUrl();
    ViewData["Image"] = "https://icangoh.org/desighn/logo-modified-min.png";
    ViewData["type"] = "website";
}
@{
    string direction = "";
    if (CultureInfo.CurrentCulture.Name.StartsWith("ar")) { direction = "rtl"; }
    else { direction = "ltr"; }
}
<div class="hero-wrap" style="background-image: url('/images/mainbg.webp'); background-position: 50% 225px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center fadeInUp ftco-animated" data-scrollax=" properties: { translateY: '70%' }" style="transform: translateZ(0px) translateY(50%);">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="opacity: 0; transform: translateZ(0px) translateY(21.4286%);"><span class="mr-2"><a asp-action="Index">Home</a></span> <span>Hr</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="opacity: 0; transform: translateZ(0px) translateY(21.4286%);">Human resources</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-5 heading-section ftco-animate text-center">
                <h2 class="mb-4">@localizer["Department of Human Resources"]</h2>
                <p>@localizer["We announce job vacancies and available volunteer opportunities through our Facebook page. When there is an opportunity that matches your skills and experience, you can apply by following these steps"]</p>
            </div>
        </div>
    <div class="row">
    <div class="MyContainer ">
        <div class="col-12 ftco-animate  text-center ">
                    <h4>@localizer["First: The CV (Curriculum Vitae)"]</h4>
        </div>
        <div class="col-12 ftco-animate d-flex justify-content-center ">
                  
                    <h5 style="    text-align: center;">  @localizer["The CV is submitted through the following link, and it will be kept in the Human Resources department"] </h5>
                  </div>
                <div class="col-12 ftco-animate d-flex justify-content-center ">

                    <p class="text-center"> @localizer["Note: Please use a computer when submitting your CV to ensure that the personal photo is uploaded correctly."] </p>
                </div>
        <div class="col-12 ftco-animate d-flex justify-content-center ">
                    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLScBI53nGS9fF0PqTgu2fi_T5LBHpUsJnjLvTPafAL8mhzNLsw/viewform" style="color: #11aa07;">@localizer["The link to submit your CV"]</a></p>
        </div>
    </div>
            <div class="MyContainer ">
                <div class="col-12 ftco-animate  text-center ">
                    <h4>@localizer["Second: Applying for the job"]</h4>
                </div>
                <div class="col-12 ftco-animate d-flex justify-content-center ">

                    <h5 style="    text-align: center;"> @localizer["This is done by entering your name and some information that matches what was entered in the first stage through the job link advertised on our Facebook page."]</h5> </h5>
                </div>
                <div class="col-12 ftco-animate d-flex justify-content-center ">
                    <p><a href="https://www.facebook.com/islamicaidorgan/" style="color:#004ea2;">@localizer["Our Facebook page"] </a></p>
                </div>
              
            </div>
  
</div>      
            </div>
       
</section>








