@using System.Globalization
@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Islamic Charity Association"];
    ViewData["meta"] = localizer["The Islamic Charity Association in Homs is a significant institution that offers education and relief services. It was established in 1921 and has exemplary schools, an orphanage, and a conference hall. the association has launched the 'Aoun Relief and Development Projesocietyct' to provide temporary housing for displaced families until they can return home safely in addition to many projects that support families and the socity."];
    Layout = "_MainLayout";
}
<style>
    h1{
        font-weight: 400;
    }

</style>
@{
    string direction = "";
    if (CultureInfo.CurrentCulture.Name.StartsWith("ar")) { direction = "rtl"; }
    else { direction = "ltr"; }
}

 @* Main image with the title*@
   @* <div class="hero-wrap" style="background-image: url('images/bg_7.jpg');" data-stellar-background-ratio="0.5">
  *@  <div class="hero-wrap" style="background-image: url('images/mainbg.png');background-size: cover;
  background-position: center;
  background-repeat: no-repeat;" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        @*    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Doing Nothing is Not An Option of Our Life</h1>
*@    @*        <p class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Created by <a href="#">Colorlib.com</a></p>
*@@*
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="https://www.youtube.com/watch?v=fjPrA_YHKd4" class="btn btn-white btn-outline-white px-4 py-3 popup-vimeo"><span class="icon-play mr-2"></span>Watch Video</a></p>
    *@      </div>
        </div>
      </div>
    </div>
   @* increesed number*@
<div class="bg-light">
<section class="ftco-counter ftco-intro" id="section-counter">
        <div class="container" >
            <div class="row no-gutters">
                <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-1 align-items-stretch">
                        <div class="text" dir="@direction">
                            <span dir="@direction">@localizer["Served Over"] </span>
                            <strong class="number" data-number="1432805" dir="@direction">0</strong>
                            <span dir="@direction">Children in 190 countries in the world</span>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-2 align-items-stretch">
              <div class="text">
                  <h3 class="mb-4" dir="@direction">@localizer["Donation"]</h3>
                            <p dir="@direction">@localizer["Together, we can achieve great things. Please consider making a donation today."]</p>
                            <p dir="@direction"><a asp-controller="Home" asp-action="Donation" class="btn btn-white px-3 py-2 mt-2">@localizer["Donation department"]</a></p>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-3 align-items-stretch">
              <div class="text">
                            <h3 class="mb-4" dir="@direction">@localizer["Be With Us"]</h3>
                            <p dir="@direction">@localizer["Your talents and passion are needed to further our important work.Volunteer,Work with us today."].</p>
                            <p dir="@direction"><a asp-controller="Home" asp-action="HR" class="btn btn-white px-3 py-2 mt-2">@localizer["human resources"]</a></p>
              </div>
            </div>
          </div>
            </div>
        </div>
    </section>
  @*Voulnteer and donation*@
<br>
<br>
<h1 hidden id="IP">@TempData["IP"]</h1>
@*who we are*@

<div class="container">
    <div class="row justify-content-center mb-2 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
            @{if (CultureInfo.CurrentCulture.Name.StartsWith("ar")){
            <h4 class="text-center">
              
                <img src="~/desighn/logo-modified-min.png" width="160" />
                
                
                    </h4>
                }
                else
                {
                    <h4 class="text-center">
                       
                        <img src="~/desighn/logo-modified-min.png" width="160" />
                        who we are
                       

                    </h4>
                    
                }
            }
           
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 d-flex mb-sm-12 ftco-animate">
            <div class="staff">
                <div class="mb-12">
                    @*  <div class="img" style="background-image: url(Teams/logo.jpg);"></div>
                    *@   <div>
                        <h3 class="text-center">
                            @localizer["A charitable association founded in 1339 AH corresponding to 1921 AD. Among its achievements were exemplary charitable schools (preparatory, primary, and secondary education), in addition to the orphanage and Zenobia Hall for conferences and celebrations, and last but not least, the Aoun Project for Relief and Development"]    
                     </h3>   @* <span class="position">Donated Just now</span>
                        <div class="text">
                        <p>Donated <span>$300</span> for <a href="#">Children Needs Food</a></p>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
 @*the sighn*@
    <section class="ftco-section">
    <div class="container d-flex justify-content-center">
            <div class="row d-flex justify-content-center">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-flex services p-3 py-4 d-block">
              <div class="icon d-flex mb-3"><span class="flaticon-donation-1"></span></div>
              <div class="media-body pl-4">
                        <h3 class="heading " >@localizer["Make Donation"]</h3>
                      <p>@localizer["“Always give without remembering and always receive without forgetting.” -Brian Tracy"]   </p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-flex services p-3 py-4 d-block">
              <div class="icon d-flex mb-3"><span class="flaticon-charity"></span></div>
              <div class="media-body pl-4">
                        <h3 class="heading">@localizer["Become A Volunteer"]</h3>
                        <p>@localizer["“The best way to find yourself is to lose yourself in the service of others.” – Gandhi"]</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 d-flex services p-3 py-4 d-block">
              <div class="icon d-flex mb-3"><span class="flaticon-donation"></span></div>
              <div class="media-body pl-4">
                        <h3 class="heading">@localizer["Sponsorship"]</h3>
                        <p>@localizer["“We ourselves feel that what we are doing is just a drop in the ocean. But the ocean would be less because of that missing drop.” Mother Teresa"]</p>
              </div>
            </div>    
          </div>
        </div>
        </div>
    </section>
</div>
              
    @*our achivmants*@

<section class="ftco-section container">
        <div class="container-fluid">
            <div class="row justify-content-center mb-2 pb-3">
          <div class="col-md-5 heading-section ftco-animate text-center">
                <h2 class="mb-4">@localizer["Our achievements"]</h2>
                <hr>
                @*          <p>@localizer["“Indeed, all bounty is in the Hands of Allah—He grants it to whoever He wills. And Allah is All-Bountiful, All-Knowing.-He chooses whoever He wills to receive His mercy. And Allah is the Lord of infinite bounty.” Ali 'Imran 3:73,3:74"]</p>
                *@
            </div>
        </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="carousel-cause owl-carousel">
                        <div class="item">
                        <img src="~/ourachivments/own.png" alt="عون" />
                        </div>
                        <div class="item">
						<img src="~/ourachivments/orphans.jpg" alt="الميتم الإسلامي" />
                        </div>
                        <div class="item">
						<img src="~/ourachivments/communityServices.png" alt="الرعاية الإجتماعية" />
                        </div>
                        <div class="item">
                        <img src="~/ourachivments/SelfLearning.png" alt="التعلم الذاتي"/>
                        </div>
                        <div class="item">
                        <img src="~/ourachivments/shools.png" alt="المدارس الخيرية"  />
                        </div>
                      
                    <div class="item">
                        <img src="~/ourachivments/zanobia.png" alt="صالة زنوبيا" />
                    </div>  <div class="item">
                        <img src="~/ourachivments/wfb.png" alt="WFB"  />
                    </div>
                    </div>
                </div>
            </div>
        </div>
         
    </section>



    @*our partner*@
<div data-aos="fade-up"
     data-aos-duration="3000" >
    <div class="container">
        <h2 class="mb-4 text-center">@localizer["Our Partnars"]</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-8 text-center">
                <p>
                    @localizer["At the Islamic charity association, we believe in the power of collaboration and our partnerships have enabled us to make significant strides in achieving our mission."]
                    
                </p>
            </div>
        </div>
                   
                    <div class="row">
    <div class="col">
            <img src="~/ourpartner/bauh3tjy_400x400.jpg"  width="80" alt="undp"/>
    </div>
    <div class="col">
            <img src="~/ourpartner/biog14lx_400x400.jpg"  width="80" alt="IOM"/>
    </div>
    <div class="col">
            <img src="~/ourpartner/logo-wfp (1).svg"  width="80" alt="wfp"/>
    </div>
    <div class="col">
                <img src="~/ourpartner/ocha-256_0.png" width="80" alt="ocha" />
    </div>
    <div class="col">
                <img src="~/ourpartner/unchcr.png" width="80" alt="unchcr" />
    </div>
    <div class="col">
                <img src="~/ourpartner/unfpa.png" width="80" alt="unfpa" />
    </div>
    <div class="col">
            <img src="~/ourpartner/unhabitat-256.png"   width="80"  alt="UNHABITAT"/>
    </div>
    <div class="col">
                <img src="~/ourpartner/unicef-logo.png" width="80" alt="unicef" />
    </div>
    <div class="col">
            <img src="~/ourpartner/who_logo.png" width="80" alt="who"/>
    </div>
    </div>
        <br>
        <div class="text-center">
            <a asp-controller="Home" asp-action="projects" class="btn btn-primary">@localizer["The colaborated projects"]</a>
        </div>
             
        <br>
        <br>
        <br>
    </div>
   
</div>

@*Rating section*@
<section id="ratingsection" class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4" >@localizer["beneficiary satisfaction"] </h2>
                <h3>@localizer["Your opinion of the services provided by the association and its branches"]</h3>
                <div id="validationpart" class="alert alert-danger d-none" role="alert" style="padding: 2rem;">
                </div>
            </div>
        </div>
        <div class="row" id="ratinganswer" dir="@direction">
            <div class="col-lg-3 justify-content-center d-flex mb-sm-3 ftco-animate fadeInUp ftco-animated mb-2">
                <div>
                    <input type="radio" name="rating" value="excellent" id="1" style="transform: scale(4); accent-color:#28a745;" onclick="disapear();">
                    <label class="m-4" style="font-size:150%;color:#28a745;font-weight: 900;" for="1">
                        @localizer["Excellent"]
                    </label>
                </div>
            </div>
            <div class="col-lg-3 justify-content-center d-flex mb-sm-3 ftco-animate fadeInUp ftco-animated mb-2">
                <div class="form-check">
                    <input type="radio" name="rating" value="good" id="2" style="transform: scale(4); accent-color: #004ea2;" onclick="disapear();">
                    <label class="m-4" style="font-size:150%;color:#004ea2;font-weight: 900;" for="2">
                        @localizer["Good"]
                    </label>
                </div>
            </div>
            <div class="col-lg-3 justify-content-center d-flex mb-sm-3 ftco-animate fadeInUp ftco-animated mb-2">
                <div class="form-check">
                    <input type="radio" name="rating" value="fair" id="3" style="transform: scale(4); accent-color:orange;" onclick="disapear();">
                    <label class="m-4" style="font-size:150%;font-weight: 900;color:orange" for="3">
                        @localizer["Fair"]
                    </label>
                </div>
            </div>
            <div class="col-lg-3 justify-content-center d-flex mb-sm-3 ftco-animate fadeInUp ftco-animated mb-2">

                <div class="form-check">
                    <input type="radio" name="rating" value="bad" id="4" style="transform: scale(4); accent-color:red;" onclick="apear();">
                    <label class="m-4" style="font-size:150%;font-weight: 900;color:red" for="4">
                        @localizer["Poor"]
                    </label>
                </div>
            </div>
        </div>
        <div class="row" id="votebutton">
            <div class="col-12">
                <input type="text" id="notic" dir="@direction" placeholder="@localizer["Please provide your feedback"]" class="form-control d-none mb-2" style="border-radius: 15px;" />
            </div>
            <div class="col-12 justify-content-center d-flex">
                <button type="button" style="background: #00AB67 !important;margin: auto;border: none;border-radius: 999px !important;padding: 0.5rem 2.5rem !important;color: #ffffff !important;font-size: 24px !important;font-weight: 700 !important;" class="RatingApi">
                    @localizer["Vote"]
                </button>
            </div>
        </div>
    </div>
</section>

    @*Recent News*@
@{
      <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-2 pb-3">
          <div class="col-md-7 heading-section  text-center">
                    <h2 class="mb-4">@localizer["Recent from blog"]</h2>
                    <hr />
            @*<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
       *@   </div>
        </div>

            <div class="row" style="background-color:#fafafa;padding:20px;border:2px ;border-radius:20px">
                @{
                   List<Article> thenewslisat = ViewBag.newslist;
                   List<Article> theEventslisat = ViewBag.Eventslist;
                }
                
                @if (thenewslisat.Count() == 0)
                {
                    <div class="alert alert-warning col-12 text-center" role="alert">
                        <h2> @localizer["The News will be updated soon..."] <i class="bi bi-alarm"></i></h2>
                    </div>
                }

                @foreach (var x in thenewslisat)
    {
                    <div class="col-md-4 d-flex ">
                        <div class="blog-entry align-self-stretch">
                            <a asp-controller="Home" asp-action="article" asp-route-id="@x.Id" as class="block-20" style="background-image: url('/PorfilesPictures/@string.Concat("Resized",x.ProfilePicture)');">
                            </a>
                            <div class="text p-4 d-block">
                                <h2 dir="@direction" class="mb-4" style="font-size:200%">
                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar")){
                                    <a asp-controller="Home" asp-action="article" asp-route-id="@x.Id" style="color:#004ea2;" class="ArticleTilte">@x.TitleArabic</a>

                                    }else{
                                    <a asp-controller="Home" asp-action="article" asp-route-id="@x.Id" style="color:#004ea2;" class="ArticleTilte">@x.TitleEnglish</a>

                                    }
                                 </h2>
                        <hr>
                        <h6 dir="@direction">@localizer["Media Center"]</h6>
                                <h6 dir="@direction" class="time-loc"><span class="mr-2" dir="ltr"><i class="icon-clock-o"></i>@x.DatePuplished.ToString("ddd.MMM.yyy") </span> <span style="visibility: hidden"><i class="icon-map-o"></i> Venue Main Campus</span> </h6>
                               </div>
                        </div>
                    </div>
    }
            </div>
        </div>
    </section>
}
@* Our Latest Events*@
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-2 pb-3">
            <div class="col-md-7 heading-section  text-center">
                <h2 class="mb-4">@localizer["Our Latest Events"]</h2>
                <hr />
            </div>
        </div>
        <div class="row">

            @if (theEventslisat.Count() == 0)
            {
                <div class="alert alert-warning col-12 text-center" role="alert">
                    <h2> @localizer["Events will be updated soon..."] <i class="bi bi-alarm"></i></h2>
                </div>
            }
            @foreach (var x in theEventslisat)
            {
                <div class="col-md-4 d-flex">
                    <div class="blog-entry align-self-stretch">
                        <a  class="block-20" asp-controller="Home" asp-action="article" asp-route-id="@x.Id" style="background-image: url('/PorfilesPictures/@string.Concat("Resized",x.ProfilePicture)');background-image">
                        </a>
                        <div class="text p-4 d-block">
                            <h2 dir="@direction" class="mb-4" style="font-size:200%">
                                @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                {
                                    <a asp-controller="Home" asp-action="article" asp-route-id="@x.Id" style="color:#004ea2;" class="ArticleTilte">@x.TitleArabic</a>

                                }
                                else
                                {
                                    <a asp-controller="Home" asp-action="article" asp-route-id="@x.Id" style="color:#004ea2;" class="ArticleTilte">@x.TitleEnglish</a>

                                }
                            </h2>
                            <hr>
                            <h6 dir="@direction">@localizer["Media Center"]</h6>
                            <p dir="@direction" class="time-loc"><span class="mr-2" dir="ltr"><i class="icon-clock-o"></i>@x.DatePuplished.ToString("ddd.MMM.yyy") </span><br><span><i class="icon-map-o"></i> @x.Assosiation.FullName</span> </p>

                            <h6 dir="@direction" class="time-loc"><span class="mr-2" dir="ltr" style="visibility: hidden"><i class="icon-clock-o"></i>@x.DatePuplished.ToString("ddd.MMM.yyy") </span> <span style="visibility: hidden"><i class="icon-map-o"></i> Venue Main Campus</span></h6>
                            </div>
                    </div>
                </div>
                    
        }
          
            
        </div>
    </div>
</section>






@section Scripts {
    @{
        <script>
            window.onload = function () {
                if (document.getElementById("IP").textContent == "IPSubmited") {
                    var element5 = document.getElementById("ratinganswer");
                    element5.classList.add("d-none");
                    var element4 = document.getElementById("validationpart");
                    element4.classList.remove("d-none");
                    element4.classList.remove("alert-danger");
                    element4.classList.add("alert-success");
                    document.getElementById("validationpart").textContent = "تمَّ التصويت بنجاح ,شكرا لمساهمتكم"; votebutton
                    var element4 = document.getElementById("votebutton");
                    element4.classList.add("d-none");
                }
            }
        </script>
        <script>
            function apear(){
               
                var element = document.getElementById("notic");
  element.classList.remove("d-none");
            }

            function disapear(){
               
                var element = document.getElementById("notic");
                element.classList.add("d-none");
                var element2 = document.getElementById("validationpart");
                element2.classList.add("d-none");
            }
        </script>
        //this script for the api of the rating
        <script>
             let x =null;// rating level
             let ip=document.getElementById("IP").textContent; //ip 
             let comment=null; // comment if the vlaue is bad
            $(document).ready(function () {
                $(".RatingApi").on("click", function () {
                    if (!document.getElementById("notic").value) // if the input of notic has value or not 
                        comment = "no comment";
                        else{
                        comment = document.getElementById("notic").value;
                        }
                    if (document.getElementById("1").checked || document.getElementById("2").checked || document.getElementById("3").checked || document.getElementById("4").checked) 
                    {
                        x = document.querySelector('input[name="rating"]:checked').value;                      
                        if (x == "bad" && document.getElementById("notic").value == "") {
                                
                                var element = document.getElementById("validationpart");
                                element.classList.remove("d-none");
                                document.getElementById("validationpart").textContent="الرجاء كتابة ملاحظاتك للتطوير من خدماتنا"
                       }else{
                            $.ajax({
                                url: 'Api/RateApi/?IP=' + ip + '&ratinglevel=' + x + '&Comment='+ comment ,
                                method: 'POST',
                                success: function () {
                                      
                                    var element5 = document.getElementById("ratinganswer");
                                    element5.classList.add("d-none");
                                    var element4 = document.getElementById("validationpart");
                                    element4.classList.remove("d-none"); 
                                    element4.classList.remove("alert-danger");
                                    element4.classList.add("alert-success");
                                    document.getElementById("validationpart").textContent = "تمَّ التصويت بنجاح ,شكرا لمساهمتكم"; votebutton
                                    var element4 = document.getElementById("votebutton");
                                    element4.classList.add("d-none");
                                },
                                error: function () {
                                    alert("there is an error");
                                }

                            });

                       }

                    }else{
                       var element = document.getElementById("validationpart");
                                element.classList.remove("d-none");
                                document.getElementById("validationpart").textContent="لم يتم إختيار "
                            
                   }
                    
               
                });
            });
        </script>
    }
}
