@model ICA.Models.ITRequist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ITRequist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequistTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequistTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfRequist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfRequist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicalNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicalNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequistStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequistStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUsers.FirstName)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
