@model ICA.Models.Bus

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Bus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DigitSurce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DigitSurce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DigitDes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DigitDes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Des)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Des)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TIME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TIME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Check)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Check)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
